@import url(/style.css);


/* --------HEADER_AND_NAV------- */

.header--flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0px auto; */
  /* padding-right: 20vw; */
}

.header--padding {
  padding-top: 40px;
}

header img {
  display: block;
}

.header__navDiv--padding {
  padding-left: 2rem;
}

.header__nav--textspacing {
  word-spacing: 2rem;
}

header a {
  text-decoration: none;
  opacity: 70%;
  font-size: 17px;
}

header a:hover{
  opacity: 100%;
}

/* ------Button------- */

.header_phone_button {
  background-color: transparent;
  border: none;
}

/* ----Dropdown_menu---- */

.dropdown-content {
  top: 1px;
  display: none;
  position: fixed;
  right: 0.1rem;
  width: 275px;
  height:  667px;
  background-color: #1b262f;
  z-index: 1;
  align-items: center;
}

/* ----DROPDDOWN___TEXT__PADDING */
.dropdown-content a {
  padding-bottom: 32px;
}
/* -------------- */

/* -----DROPDOWN_pos----- */

.dropdown--pos {
  position: relative;
  bottom: 120px;
}

/* ------------ */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-center {
  text-align: center;
  width: 285px;
}

.dropdown--hr {
  width: 83%;
  border-color: #36536b;
  margin-bottom: 40px;
}

.dropdown-content a {
  /* text-align: center; */
  height: 24px;
  opacity: 70%;
  font-size: 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  color:white;
}


/* -----DROPDOWN_EXIT----- */

.dropdown__exitbutton {
  background-color: transparent;
  border: none;
  position: relative;
  bottom: 15px;
  left: 104px;
}


/* ------BUTTON_SIZE---- */
/* ------TABLET_AND_DESKTO---- */
.simple_button {
  min-width: 173px;
  min-height:48px;
}
/* ------------- */
.dropdown__button{
width: 239px;
height:48px;
}

.dropdown_button--textS{
  font-size: 15px;
  font-weight: bold;
}

/* -----NAV_MEDIA_QUARIE--- */

/* ------DESKTOP----- */
@media screen and (min-width: 960px) {
  .header_phone_button {
    display: none;
  }

  .header_dropdown-hide {
    display: none;
  }
}

/* -------TABLET-------- */

@media screen and (min-width: 768px) and (max-width:959px) {
  .header--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
    width: 688.24px;
    height: 48px;
  }

  .header_phone_button {
    display: none;
  }

  .header_dropdown-hide {
    display: none;
  }

  .header__navDiv--padding {
    position: relative;
    right: 15px;
  }
  header .primary-button {
    /* padding-left:25px;
padding-right: 25px; */
    width: 173px;
  }
}

/* --------PHONE_VERSION------ */

@media screen and (min-width:367px) and (max-width:767px) {
  .header--flex {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-basis: 326px; */
    /* flex-basis: 326px; */
    /* /* width: 326px; 
     margin: 0px auto;  */
  }

  .simple_button {
    display: none;
  }

  header a{
    display: none;
  }


}
