@import url(/style.css);


/* --------HEADER_AND_NAV------- */

.header--flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0px auto; */
  /* padding-right: 20vw; */
}

.header--padding {
  padding-top: 40px;
}

header img {
  display: block;
}

.header__navDiv--padding {
  padding-left: 2rem;
}

.header__nav--textspacing {
  word-spacing: 2rem;
}

header a {
  text-decoration: none;
}

/* ------Button------- */

.header_phone_button {
  background-color: transparent;
  border: none;
}

/* ----Dropdown_menu---- */

.dropdown-content {
  top: 1px;
  display: none;
  position: fixed;
  right: 0.1rem;
  width: 285px;
  height:  667px;
  background-color: #1b262f;
  z-index: 1;
  align-items: center;
}

/* ----DROPDDOWN___TEXT__PADDING */
.dropdown-content a {
  padding-bottom: 32px;
}
/* -------------- */

/* -----DROPDOWN_pos----- */

.dropdown--pos {
  position: relative;
  bottom: 100px;
}

/* ------------ */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-center {
  text-align: center;
  width: 285px;
}

.dropdown--hr {
  width: 80%;
  border-color: #36536b;
  margin-bottom: 24px;
}

.dropdown-content a {
  /* text-align: center; */
  height: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
}

/* -----DROPDOWN_EXIT----- */

.dropdown__exitbutton {
  background-color: transparent;
  border: none;
  position: relative;
  bottom: 34px;
  left: 90px;
}


/* ------BUTTON_SIZE---- */

.dropdown__button{
width: 252px;
height:48px;
}

/* -----NAV_MEDIA_QUARIE--- */

/* ------DESKTOP----- */
@media screen and (width >= 960px) {
  .header_phone_button {
    display: none;
  }

  .header_dropdown-hide {
    display: none;
  }
}

/* -------TABLET-------- */

@media screen and (width >= 768px) and (width < 960px) {
  .header--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
    width: 688.24px;
    height: 48px;
  }

  .header_phone_button {
    display: none;
  }

  .header_dropdown-hide {
    display: none;
  }

  .header__navDiv--padding {
    position: relative;
    right: 15px;
  }
  header .primary-button {
    /* padding-left:25px;
padding-right: 25px; */
    width: 173px;
  }
}

/* --------PHONE_VERSION------ */

@media screen and (width >= 375px) and (width < 768px) {
  .header--flex {
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    /* flex-basis: 326px; */
    /* flex-basis: 326px; */
    /* width: 326px; 
     margin: 0px auto;  */
  }

  .simple_button {
    display: none;
  }

  header a{
    display: none;
  }


}
