/* --------HEADER_AND_NAV------- */

.header--flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header--padding{
    padding-top: 40px;
}

img {
  display: block;
}

.header__navDiv--padding {
  padding-left: 2rem;
}

.header__nav--textspacing {
  word-spacing: 2rem;
}

a {
  text-decoration: none;
}

/* -----NAV_MEDIA_QUARIE--- */

/* -------TABLET-------- */

@media screen and (width >= 768px) and (width < 960px) {
  .header--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header__navDiv--padding {
  position: relative;
  left:40px;
}

}

/* --------PHONE_VERSION------ */

@media screen and (width >= 375px) and (width < 768px){

}