/* Primary colors */

.darkPinkColor{
    color: #BA4270;
}
.darkPinkBgColor{
    background-color: #BA4270;
}

.linkWaterWhiteColor{
    color: #FBFCFE;
}

.linkWaterWhiteBg{
    background-color: #FBFCFE;
}

/* Secondary colors */

.sanJuanBlueColor{
    color: #36536B;
}
.sanJuanBlueBgColor{
    background-color: #36536B;
}
.mirageBlueColor{
    color: #1B262F;
}
.mirageBlueBgColor{
    background-color: #1B262F;
}
.charmPinkActivesColor{
    color: #DA6D97;
}
.charmPinkActivesBgColor{
    background-color: #DA6D97;
}
.lightSanJuanBlueColor{
    color: #6C8294;
}
.lightSanJuanBlueBGColor{
    background-color: #6C8294;
}

/* Site footer design */
@font-face {
  font-family: "PublicSans";
  src: url('fonts/PublicSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Reset browser default spacing */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 1920px;
  height: 100px;
  background: #1b242c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
  font-family: "PublicSans";
  color: #c2c5c9;
}

.sitefooter {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 164.76px;
  margin-top: 31.76px;
  margin-bottom: 31.47px;
}

.nav-links a {
  text-decoration: none;
  color: #c2c5c9;
  margin-right: 24px;
  font-size: 15px;
}

.nav-links a:nth-child(1) {
  margin-left: 64.34px;
}

.nav-links a:nth-child(2) {
  margin-left: 40px;
}

.nav-links a:nth-child(3) {
  margin-left: 40px;
}

/* Logo placement */

.social-icons a:nth-child(1) {
  margin-right: 24px;
  margin-top: 38px;
  margin-bottom: 38px;
}

.social-icons a:nth-child(2) {
  margin-right: 24px;
  margin-top: 40.25px;
  margin-bottom: 40.25px;
}

.social-icons a:nth-child(3){
  margin-right: 160px;
  margin-top: 38px;
  margin-bottom: 38px;
}

