/* --------HEADER_AND_NAV------- */

.header--flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0px auto; */
  /* padding-right: 20vw; */
}

.header--padding {
  padding-top: 40px;
}

img {
  display: block;
}

.header__navDiv--padding {
  padding-left: 2rem;
}

.header__nav--textspacing {
  word-spacing: 2rem;
}

a {
  text-decoration: none;
}

/* ------Button------- */

.header_phone_button {
  background-color: transparent;
  border: none;
}

/* ----Dropdown_menu---- */

.dropdown-content {
  top: 1px;
  /* left: 0.1px; */
  display: none;
  position: fixed;
  height: 122.438rem;
  background-color: #1b262f;
  max-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.dropdownc--flex{
display: flex;
flex-direction: column;
/* justify-content: center; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  width: 249px;
  height: 24px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* -----NAV_MEDIA_QUARIE--- */

/* ------DESKTOP----- */
@media screen and (width >= 960px) {
  .header_phone_button {
    display: none;
  }

  .header_dropdown-hide {
    display: none;
  }
}

/* -------TABLET-------- */

@media screen and (width >= 768px) and (width < 960px) {
  .header--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
    width: 688.24px;
    height: 48px;
  }

  .header_phone_button {
    display: none;
  }

  .header_dropdown-hide {
    display: none;
  }

  .header__navDiv--padding {
    position: relative;
    right: 15px;
  }
}

/* --------PHONE_VERSION------ */

@media screen and (width >= 375px) and (width < 768px) {
  .header--flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 326px;
    margin: 0px auto;
  }

  .simple_button {
    display: none;
  }

  a {
    color: transparent;
  }
}
