


/* --------HEADER_AND_NAV------- */

.header--flex{
display: flex;
justify-content: space-around;
align-items: center;
}

img{
   display: block;
}

.header__navDiv--padding{
    padding-left: 2rem;
}

.header__nav--textspacing{
    word-spacing: 2rem;
}



a{
    text-decoration: none;
}

/* -----NAV_MEDIA_QUARIE--- */

/* -------TABLET-------- */

@media screen and (width >= 800px) and (width <= 1024px){
     
} 
    

