@import url(/style.css);

.ready {
  text-align: center;
}
.h3_Big {
  font-weight: normal;
}
.ready > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ready > div > input {
  width: 142px;
  height: 16px;
  border-radius: 24px;
  /* border: 1px solid #36536b; */
  border: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.12px;
  padding: 16px 158px 16px 27px;
  font-weight: bold;
  opacity: 0.7;
}
.ready > div > button {
  position: relative;
  top: 16px;
  width: 327px;
  height: 48px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .ready {
    margin-top: 64px;
    padding-bottom: 80px;
  }

  .ready > div {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 445px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fbfcfe;
    border-radius: 24px;
  }
  .ready > div > input {
    float: left;
    padding: 16px 103px 16px 27px;
    box-shadow: none;
  }
  .ready > div > button {
    width: 173px;
    position: static;
  }

  .rdtxt {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .ready {
    margin-top: 64px;
    padding-bottom: 80px;
    margin-bottom: 40px;
  }
  .ready > div {
    margin-top: 20px;
  }
  .ready > div > input {
    width: 270px;
    padding: 12px 16px;
  }
  .ready > div > button {
    width: 300px;
    height: 44px;
    top: 16px;
  }
}

@media (min-width: 960px) {
  .ready {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 68px;
    margin: 80px auto 0 auto;
  }
  .ready > div {
    margin-bottom: 20px;
  }
  .h3_Big {
    /* text-align: center; */
    width: 546px;
    height: 180px;
    font-size: 72px;
    margin-top: -24px;
  }

  #h3_Big {
    text-align: center;
    width: 445px;
    /* height: 80px; */
    font-size: 42px;
    margin-top: -24px;
  }

  .ready2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 68px;
    margin: 150px auto 0 auto;
  }

  .marginhelp {
    margin-top: 28px;
  }
}
