<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="readyForStart.css" />
  </head>
  <body class="page-bagraund-color">
    <div class="ready">
      <h3 class="h3_Big sanJuanBlueColor">Ready to start?</h3>
      <div>
        <input
          type="email"
          placeholder="Enter email address"
          class="sanJuanBlueColor"
        />
        <button class="primary-button">Schedule a Demo</button>
      </div>
    </div>
  </body>
</html>
