@import url(/style.css);

.ready {
  text-align: center;
}
.h3_Big {
  font-weight: normal;
}
.ready > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ready > div > input {
  width: 142px;
  height: 16px;
  border-radius: 24px;
  /* border: 1px solid #36536b; */
  border: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.12px;
  padding: 16px 158px 16px 27px;
  font-weight: bold;
  opacity: 0.7;
}
.ready > div > button {
  position: relative;
  top: 16px;
  width: 327px;
  height: 48px;
  font-weight: bold;
}



@media (min-width: 768px) {
  .ready > div {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 445px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fbfcfe;
    border-radius: 24px;
  }
  .ready > div > input {
    float: left;
    padding: 16px 103px 16px 27px;
    box-shadow: none;
  }
  .ready > div > button {
    width: 173px;
    position: static;
  }
}

@media (min-width: 1440px) {
  .ready {
    display: flex;
    width: 1110px;
    height: 68px;
    gap: 220px;
  }
  .ready > div {
    margin-bottom: 20px;
  }
  .h3_Big {
    text-align: left;
    width: 445px;
    height: 66px;
    font-size: 48px;
    margin: 0;
  }
}
