<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="contactpagefull.css" />
  <script src="../contactPageForm/formvalidation.js" defer></script>
</head>
<!--nav code-->
<header class="header--flex header--padding">
  <!-- <div> -->
  <!-- <img src="images/shared/desktop/logo.svg" alt="logo"> -->
  <!-- </div> -->
  <nav class="header__nav--textspacing header--flex">
    <img src="../../images/shared/desktop/logo.svg" alt="logo" />
    <div class="header__navDiv--padding">
      <a href="#" class="sanJuanBlueColor h3_Small ">Pricing</a>
      <a href="#" class="sanJuanBlueColor h3_Small ">About</a>
      <a href="#" class="sanJuanBlueColor h3_Small ">Contact</a>
    </div>
  </nav>
  <button type="button" class="simple_button primary-button h3_Small">Schedule a demo
  </button>
  <div class="dropdown header_dropdown-hide">
    <button type="button" onclick="showDropdown()" class="header_phone_button">
      <img src="../../images/shared/mobile/menu.svg" alt="menu" />
    </button>
    <div id="dropdown" class="dropdown-content dropdown--flex">
      <div class="dropdown-center dropdown--pos">
        <button type="button" onclick="hideDropdown()" class="dropdown__exitbutton">
          <img src="../../images/shared/mobile/close.svg" alt="lmao" />
        </button>
        <hr class="dropdown--hr" />
        <a href="#" class="h3_Small"><span class="linkWaterWhiteColor">Pricing</span></a>
        <a href="#" class="h3_Small"><span class="linkWaterWhiteColor">About</span></a>
        <a href="#" class="h3_Small"><span class="linkWaterWhiteColor">Contact</span></a>
        <button type="button" class="dropdown__button primary-button h3_Small">
          <span class="dropdown_button--textS">Schedule a demo</span>
        </button>
      </div>
    </div>
  </div>
</header>


<!--input form code-->
<h1>Submit a help request and we’ll get in touch shortly.</h1>

<body class="page-bagraund-color">
  <div id="moveFormLeft">
    <form id="form">

      <input id="nameForm" class="textArea" type="text" placeholder="Name" required minlength="2" maxlength="50"
        pattern="[A-Za-z\s]{2,50}" />

      

      <hr class="hr">

      <input id="emailForm" class="textArea" type="email" placeholder="Email Address" required />

    

      <hr class="hr">

      <input id="companyNameForm" class="textArea" type="text" placeholder="Company Name" required minlength="2"
        maxlength="50" pattern="[A-Za-z\s]{2,50}" />

      

      <hr class="hr">

      <input id="titleForm" class="textArea" type="text" placeholder="Title" required minlength="2" maxlength="100"
        pattern="[A-Za-z0-9\s]{2,100}" />
      
      <hr class="hr">

      <textarea id="messageForm" class="textArea" type="text" placeholder="Message" minlength="0" maxlength="2000"
        pattern="[A-Za-z0-9\s]{0,2000}"></textarea>
      <hr class="hr">

      <fieldset class="check">
        <label class="container-checkbox">
          <input type="checkbox" id="checkForm" />

          <span class="checkmark"></span>
        </label>
        <p class="checktext">Stay up to date with company announcements and updates to our API</p>
      </fieldset>
      <button class="submitForm secondary-button-Dark body" type="submit">Submit</button>
    </form>
  </div>
  <!--logo part -->

  <h4>Join the thousands of innovators already building with us</h4>
  <div class="partners">

    <div class="box">
      <img src="../../images/shared/desktop/tesla.svg" alt="tesla logo" id="img1">
    </div>

    <div class="box">
      <img src="../../images/shared/desktop/microsoft.svg" alt="microsoft logo" id="img2">
    </div>

    <div class="box">
      <img src="../../images/shared/desktop/hewlett-packard.svg" alt="hp logo" id="img3">
    </div>

    <div class="box">
      <img src="../../images/shared/desktop/oracle.svg" alt="oracle logo" id="img4">
    </div>

    <div class="box">
      <img src="../../images/shared/desktop/google.svg" alt="google logo" id="img5">
    </div>

    <div class="box">
      <img src="../../images/shared/desktop/nvidia.svg" alt="nvidia logo" id="img6">
    </div>

  </div>


  <!--readyForStart html-->

  <div class="ready">
    <h3 class="h3_Big sanJuanBlueColor">Ready to start?</h3>
    <div>
      <input type="email" placeholder="Enter email address" class="sanJuanBlueColor" id="mobilebutton"/>
      <button class="primary-button">Schedule a Demo</button>
    </div>
  </div>

  <!--footer code-->
  <footer>
    <div class="sitefooter">
      <div class="logo">
        <img src="../../images/shared/desktop/logo.svg" alt="payapi" class="payapi">
      </div>

      <div class="nav-links">
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </div>

    <div class="social-icons">
      <a href="#"><img src="../../images/shared/desktop/facebook.svg" alt="Facebook"></a>
      <a href="#"><img src="../../images/shared/desktop/twitter.svg" alt="Twitter"></a>
      <a href="#"><img src="../../images/shared/desktop/linkedin.svg" alt="LinkedIn"></a>
    </div>
  </footer>

  <script src="../contactPageForm/formvalidation.js"></script>
</body>

</html>