<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Pricing</h1>
        <section>
        <article>
            <h2>Free Plan</h2>
            <p>Buid and test using our core set of products with up to 100 API requests</p>
            <p class="price">$0.00</p>
            <div>
            <p>Transactions</p>
            <p>Auth</p>
            <p>Identity</p>
            <p>Investments</p>
            <p>Assets</p>
            <p>Liabilities</p>
            <p>Income</p>
            </div>
            <button>Request Access</button>
        </article>

        <article>
            <h2>Basic Plan</h2>
            <p>Launch your project with unlimited requests and no contractual minimums</p>
            <p class="price">$249.00</p>
            <div>
            <p>Transactions</p>
            <p>Auth</p>
            <p>Identity</p>
            <p>Investments</p>
            <p>Assets</p>
            <p>Liabilities</p>
            <p>Income</p>
            </div>
            <button>Request Access</button>
        </article>

        <article>
            <h2>Premium Plan</h2>
            <p>Get tailored solutions, volume pricimg, and dedicated support for your team</p>
            <p class="price">$499.00</p>
            <div>
            <p>Transactions</p>
            <p>Auth</p>
            <p>Identity</p>
            <p>Investments</p>
            <p>Assets</p>
            <p>Liabilities</p>
            <p>Income</p>
            </div>
            <button>Request Access</button>
        </article>
        </section>
    </main>
</body>
</html>