<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="pricing.css" />
  </head>
  <body class="page-bagraund-color">
    <main class="main-pricing">
      <h1 class="h3_Big">Pricing</h1>
      <section class="pricing-section">
        <article>
          <h2 class="h4 darkPinkColor desctop-text-align">Free Plan</h2>
          <p class="lightSanJuanBlueColor description">
            Buid and test using our core set of products with up to 100 API
            requests
          </p>
          <p class="price h1_Small sanJuanBlueColor">$0.00</p>
          <div>
            <p class="pricing-planPart-success">Transactions</p>
            <p class="pricing-planPart-success">Auth</p>
            <p class="pricing-planPart-success">Identity</p>
            <p class="pricing-planPart">Investments</p>
            <p class="pricing-planPart">Assets</p>
            <p class="pricing-planPart">Liabilities</p>
            <p class="pricing-planPart">Income</p>
          </div>
          <button class="secondary-button-Dark pricing-button">
            Request Access
          </button>
        </article>

        <article>
          <h2 class="h4 darkPinkColor desctop-text-align">Basic Plan</h2>
          <p class="lightSanJuanBlueColor description">
            Launch your project with unlimited requests and no contractual
            minimums
          </p>
          <p class="price h1_Small sanJuanBlueColor">$249.00</p>
          <div>
            <p class="pricing-planPart-success">Transactions</p>
            <p class="pricing-planPart-success">Auth</p>
            <p class="pricing-planPart-success">Identity</p>
            <p class="pricing-planPart-success">Investments</p>
            <p class="pricing-planPart-success">Assets</p>
            <p class="pricing-planPart">Liabilities</p>
            <p class="pricing-planPart">Income</p>
          </div>
          <button class="secondary-button-Dark pricing-button">
            Request Access
          </button>
        </article>

        <article>
          <h2 class="h4 darkPinkColor desctop-text-align">Premium Plan</h2>
          <p class="lightSanJuanBlueColor description">
            Get tailored solutions, volume pricimg, and dedicated support for
            your team
          </p>
          <p class="price h1_Small sanJuanBlueColor">$499.00</p>
          <div>
            <p class="pricing-planPart-success">Transactions</p>
            <p class="pricing-planPart-success">Auth</p>
            <p class="pricing-planPart-success">Identity</p>
            <p class="pricing-planPart-success">Investments</p>
            <p class="pricing-planPart-success">Assets</p>
            <p class="pricing-planPart-success">Liabilities</p>
            <p class="pricing-planPart-success">Income</p>
          </div>
          <button class="secondary-button-Dark pricing-button">
            Request Access
          </button>
        </article>
      </section>
    </main>
  </body>
</html>
