<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="pricing.css" />
  </head>
  <body class="page-bagraund-color">
    <main class="main-pricing">
      <div class="heaad-price">
      <h1 class="pricng sanJuanBlueColor nar">Pricing</h1>
      </div>
      <section class="pricing-section">
        
        <article>
          <h2 class="plan darkPinkColor desctop-text-align nar">Free Plan</h2>
          <p class="lightSanJuanBlueColor description body">
            Buid and test using our core set of products with up to 100 API
            requests
          </p>
          <p class="price h1_Small sanJuanBlueColor">$0.00</p>
          <div>
            <p class="pricing-planPart-success body sanJuanBlueColor">Transactions</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Auth</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Identity</p>
            <p class="pricing-planPart body">Investments</p>
            <p class="pricing-planPart body">Assets</p>
            <p class="pricing-planPart body">Liabilities</p>
            <p class="pricing-planPart body">Income</p>
          </div>
          <button class="secondary-button-Dark pricing-button body">
            Request Access
          </button>
        </article>

        <article>
          <h2 class="plan darkPinkColor desctop-text-align nar">Basic Plan</h2>
          <p class="lightSanJuanBlueColor description body">
            Launch your project with unlimited requests and no contractual
            minimums
          </p>
          <p class="price h1_Small sanJuanBlueColor">$249.00</p>
          <div>
            <p class="pricing-planPart-success body sanJuanBlueColor">Transactions</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Auth</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Identity</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Investments</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Assets</p>
            <p class="pricing-planPart body">Liabilities</p>
            <p class="pricing-planPart body">Income</p>
          </div>
          <button class="secondary-button-Dark pricing-button body">
            Request Access
          </button>
        </article>

        <article>
          <h2 class="plan darkPinkColor desctop-text-align nar">Premium Plan</h2>
          <p class="lightSanJuanBlueColor description body">
            Get tailored solutions, volume pricimg, and dedicated support for
            your team
          </p>
          <p class="price h1_Small sanJuanBlueColor">$499.00</p>
          <div>
            <p class="pricing-planPart-success body sanJuanBlueColor">Transactions</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Auth</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Identity</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Investments</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Assets</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Liabilities</p>
            <p class="pricing-planPart-success body sanJuanBlueColor">Income</p>
          </div>
          <button class="secondary-button-Dark pricing-button body">
            Request Access
          </button>
        </article>
      </section>
    </main>
  </body>
</html>
