@import url(/style.css);

body {
  margin: 0;
}

/* -------aboutStart__flex------ */

.article_aboutStart--flex {
  display: flex;
  flex-direction: column;
}

.article_aboutStart_secondDiv {
  display: flex;
  align-items: baseline;
}


/* -------TEXT_SPACING-------- */

.article__startP--size{
line-height: 1.6rem;
}

/* ------MEDIAQUARIE------ */
/* -------PHONE_VERSION----- */

@media screen and (max-width: 767px) {
  .article_aboutStart--flex {
    padding-top: 51px;
    padding-bottom: 87px;
    justify-content: center;
    max-width: 327px;
    text-align: center;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }

  .article_aboutStart_secondDiv {
    display: revert;
  }

  .article_aboutStart_firstDiv--padding {
    padding-top: 24px;
  }

  .article_aboutStart_secondDiv--padding {
    padding-top: 66px;
  }

  /* -------FONTSIZE------- */

  .article_h2--size {
    font-size: 24px;
  }

  .article__h3--size {
    font-size: 32px;
  }

  /* -------IMG--------- */

  .article__aboutStart--img {
    height: 300px;
    margin-top: 87px;
    /* background-size: 375px; */
    background-image: url(../../images/about/mobile/image-team-members.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* -------TABLET__VERSION----- */

@media screen and (min-width: 768px) and (max-width: 960px) {
  .article_aboutStart--flex {
    padding-top: 86px;
    padding-bottom: 103px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-left: 39px;
    padding-right: 39px;
  }
  .article_aboutStart_firstDiv--padding {
    padding-top: 48px;
  }
  /* -------FONTSIZE------- */
  .article__h3--size {
    width: 573px;
    font-size: 48px;
  }

  .article_h2--size {
    position: relative;
    top: 21px;
    width: 223px;
    height: 44px;
    text-align: left;
    font-size: 32px;
  }

  .article__startP--size {
    width: 456px;
    text-align: left;
  }

  /* ----IMG---- */

  .article__aboutStart--img {
    height: 300px;
    margin-top: 87px;
    /* background-size: 375px; */
    background-image: url(../../images/about/tablet/image-team-members.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* ---------DEKTOP_VERSION------- */

@media screen and (min-width: 961px) {
  .article_aboutStart--flex {
    padding-top: 80px;
    padding-bottom: 111px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-left: 260px;
    padding-right: 260px;
  }

  .article_h2--size {
    position: relative;
    top: 21px;
    width: 255px;
    height: 44px;
    text-align: left;
    font-size: 32px;
  }

  .article__startP--size {
    width: 635px;
    text-align: left;
  }

  .article__h3--size {
    width: 730px;
    font-size: 56px;
    text-align: left;
    position: relative;
    right: 80px;
  }


  .article__aboutStart--img {
    height: 500px;
    margin-top: 87px;
    /* background-size: 375px; */
    background-image: url(../../images/about/desktop/image-team-members.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
