<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="aboutP-start.css" />
    <title>Document</title>
  </head>
  <body>
    <article class="article_aboutStart--flex">
      <h3 class="article__h3--size sanJuanBlueColor article__h3--padding">
        We empower innovators by delivering access to the financial system
      </h3>
      <div
        class="article_aboutStart_firstDiv--padding article_aboutStart_firstDiv"
      >
        <div class="article_aboutStart_secondDiv">
          <h2 class="sanJuanBlueColor article_h2--size">Our vision</h2>
          <p class="lightSanJuanBlueColor body article__startP--size">
            Our main goal is to build beautiful consumer experiences along with
            developer-friendly infrastructure. The result is an intelligent tool
            that gives everyone the ability to create amazing products that sole
            big problems. We are deeply focused on democratizing financial
            services through technologies.
          </p>
        </div>
        <div
          class="article_aboutStart_secondDiv--padding article_aboutStart_secondDiv"
        >
          <h2 class="sanJuanBlueColor article_h2--size">Our Business</h2>
          <p class="lightSanJuanBlueColor body article__startP--size">
            At the core of our platform is the technical infrastructure APIs
            that conet consumers. Our innovative product provides key insights
            for businesses and individuals, as well as robust reporting for
            traditional financial institutions and developers.
          </p>
        </div>
      </div>
    </article>
    <article class="article__aboutStart--img"></article>
  </body>
</html>
