@import url(/style.css);

.phone_mockup {
  position: absolute;
  right: 157px;
  left: 867px;
  top: -152px;
}

.text_article_start {
  position: relative;
  top: 237px;
}
h1 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 24px;
    color: #36536b;
    line-height: 70px;
    width: 546px;
    height: 243px;
    margin-right: 154px;
    font-weight: 100;
  }

.home_article_start_text {
  padding-left: 165px;
}

@media screen and (max-width: 768px) {
  .phone_mockup {
    position: absolute;
    content: url(images/mobile_tablet.svg);
    right: 201px;
    left: 253px;
  }
  .home_article_start_text {
    position: relative;
    top: 490px;
    padding-left: 97px;
  }
    h1 {
      text-align: center;
      width: 573px;
      height: 122px;
      font-size: 48px;
      line-height: 56px;
    }
}

@media screen and (max-width: 375px) {
  .phone_mockup {
    position: relative top;
    width: 124.56px;
    height: 239.45px;
  }
}

.a_article_start {
  color: rgb(108, 130, 148);
}

.questions_article_start {
  color: rgb(108, 130, 148);
  padding-left: 27px;
}

.form_div_article_start {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  width: 445px;
  input {
    padding: 12px 18px;
    font-size: 16px;
    border: 0px solid rgb(204, 204, 204);
    border-radius: 40px;
    outline: none;
    width: 221px;
  }
  button {
    padding: 18px 28px;
    font-size: 16px;
    color: white;
  }
}

.primary-button {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 40px;
  border: 0;
}
.primary-button:hover {
  color: #fbfcfe;
  background-color: #da6d97;
  border-radius: 40px;
  border: 0;
}
.primary-button:disabled {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 40px;
  border: 1px solid #fbfcfe;
}

.h1_Large {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  font-style: normal;}