<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="homepagearticlestart.css" />
  </head>
  <body class="Desktop_size">
    <main>
      <article class="text_article_start">
        <div class="home_article_start_text">
          <h1 class="h1_Large">
            Start building with our APIs for absolutely free.
          </h1>
          <div class="form_div_article_start">
            <form class="form_article_start">
              <input type="email" placeholder="Enter email address" />
              <button class="primary-button primary-button:disabled primary-button:hover">Schedule a Demo</button>
            </form>
          </div>
          <p class="questions_article_start">
            Have any questions?
            <a href="contactpage.html" class="a_article_start">Contact Us</a>
          </p>
        </div>
        <img
          class="phone_mockup"
          src="images/ilustration-phone-mockup-fix.svg"
          alt="phone-mockup"
        />
      </article>
    </main>
  </body>
</html>
