<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="homepagearticlestart.css">
  </head>
  <body>
    <main>
        <article class="elements_center_article_start">
    <img src="illustration-phone-mockup.svg" alt="phone-mockup">
    <h1>Start building with our APIs for absolutely free.</h1>
    <form>
      <input type="email" />
      <input type="submit" />
    </form>
    <p>Have any questions? <a href="contactpage.html">Contact Us</a></p>
</article>
</main>
  </body>
</html>
