@import url(/style.css);

.phone_mockup {
  position: absolute;
  right: 157px;
  left: 867px;
  top: -152px;
}

.text_article_start {
  position: relative;
  top: 237px;
}
.h1_article_start {
  text-align: left;
  margin-top: 0;
  margin-bottom: 24px;
  color: #36536b;
  line-height: 70px;
  width: 546px;
  height: 243px;
  margin-right: 154px;
  font-weight: 100;
}

.home_article_start_text {
  padding-left: 165px;
}

.form_div_article_start {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  width: 445px;
}
.input_article_start {
  padding: 12px 18px;
  font-size: 16px;
  border: 0px solid rgb(204, 204, 204);
  border-radius: 40px;
  outline: none;
  width: 221px;
}
.button_article_start {
  padding: 18px 28px;
  font-size: 16px;
  color: white;
}
.primary-button {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 40px;
  border: 0;
}
.primary-button:hover {
  color: #fbfcfe;
  background-color: #da6d97;
  border-radius: 40px;
  border: 0;
}
.primary-button:disabled {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 40px;
  border: 1px solid #fbfcfe;
}

.h1_Large {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  font-style: normal;
}
.a_article_start {
  color: rgb(108, 130, 148);
}

.questions_article_start {
  color: rgb(108, 130, 148);
  padding-left: 27px;
}

@media screen and (max-width: 768px) {
  .phone_mockup {
    display: flex;
    justify-content: center;
    content: url(images/mobile_tablet.svg);
    margin-left: 250px;
    right: 0px;
    left: 0px;
    top: 0px;
  }
  .home_article_start_text {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_article_start_text {
    position: relative;
    top: 490px;
  }
  .h1_article_start {
    text-align: center;
    width: 573px;
    height: 122px;
    margin-right: 0px;
  }
  .h1_Large {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    font-style: normal;
    letter-spacing: -0.37px;
    line-height: 56px;
  }
}

@media screen and (max-width: 375px) {
  .phone_mockup {
    display: flex;
    justify-content: center;
    content: url(images/ilustration_phone_mobile.svg);
    margin-left: 71px;
    right: 0px;
    left: 0px;
    top: 0px;
  }
  .home_article_start_text {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_article_start_text {
    position: relative;
    top: 377px;
  }
  .h1_article_start {
    text-align: center;
    width: 327px;
    height: 116px;
    margin-right: 0px;
  }
  .h1_Large {
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: 36px;
  }
  .form_div_article_start {
    display: flex;
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 327px;
    height: 48px;
  }
  .input_article_start {
    padding: 12px 18px;
    font-size: 16px;
    border: 0px solid rgb(204, 204, 204);
    border-radius: 40px;
    outline: none;
    width: 221px;
  }
  .button_article_start {
    position: relative;
    top: 30px;
    padding: 18px 28px;
    font-size: 16px;
    color: white;
    width: 327px;
    height: 48px;
  }
}
