.phone_mockup {
  position: absolute;
  right: 157px;
  top: -101px;
}

.container {
  position: relative;
  top: 237px;
  h1{
    margin-top: 0;
    color: #36536B;
    size: 72px;
  }
}

.home_article_start_text {
  padding-left: 165px;
}

@media screen and (max-width: 768px) {
  .phone_mockup {
    position: relative top;
    width: 159px;
    height: 300px;
  }
}

@media screen and (max-width: 375px) {
  .phone_mockup {
    position: relative top;
    width: 124.56px;
    height: 239.45px;
  }
}

.h1_Large {
  font-family: "DM Serif Display", serif;
  font-weight: 72px 72px;
  font-style: normal;
}

.primary-button {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 24px;
  border: 0;
}
.primary-button:hover {
  color: #fbfcfe;
  background-color: #da6d97;
  border-radius: 24px;
  border: 0;
}
.primary-button:disabled {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 24px;
  border: 1px solid #fbfcfe;
}
