.phone_mockup {
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home_article_start_text {
  padding-left: 165px;
}


@media screen and (max-width: 768px) {
.phone_mockup {
  position: relative top;
}
}

.h1_Large {
  font-family: "DM Serif Display", serif;
  font-weight: 72px 72px;
  font-style: normal;
}

.primary-button {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 24px;
  border: 0;
}
.primary-button:hover {
  color: #fbfcfe;
  background-color: #da6d97;
  border-radius: 24px;
  border: 0;
}
.primary-button:disabled {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 24px;
  border: 1px solid #fbfcfe;
}