@import url(/style.css);

.phone_mockup {
  position: absolute;
  right: 157px;
  left: 867px;
  top: -101px;
}

.text_article_start {
  position: relative;
  top: 237px;
  h1 {
    text-align: left;
    margin-top: 0;
    color: #36536b;
    line-height: 70px;
    width: 546px;
    height: 243px;
    margin-right: 154px;
  }
    /* input {
      padding: 10px 15px;
      margin-bottom: 10px;
      border-radius: 50px;
      border: 1px solid rgb(204, 204, 204);
      outline: none;
      box-shadow: 0 0 4px rgba(179, 0, 90, 0.4);
    } */
  
}

.home_article_start_text {
  padding-left: 165px;
}

@media screen and (max-width: 768px) {
  .phone_mockup {
    position: relative top;
    width: 159px;
    height: 300px;
  }
}

@media screen and (max-width: 375px) {
  .phone_mockup {
    position: relative top;
    width: 124.56px;
    height: 239.45px;
  }
}

.a_article_start {
  color: rgb(108, 130, 148);
}

.questions_article_start {
  color: rgb(108, 130, 148);
}

.form_div_article_start{
  display: flex;
  align-items: center;
  gap: 10px;
  input{
    padding: 12px 18px;
    font-size: 16px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 40px;
    outline: none;
    width: 260px;
  }
  button{
    padding: 12px 28px;
    font-size: 16px;
    color: white;
  }
}
