@import url(/style.css);

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.implem {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 105px;
  padding-right: 240px;
  background: #EDF3F8;
}

/* Text */
.implemtext {
  max-width: 455px;
  margin-top: -55px;
}

.bigtxt {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: lighter;
    color: #36536B;
    letter-spacing: -0.37px;
    margin: 0;
}

.smalltxt {
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    font-style: normal;
    color: #6C8294;
    opacity: 0.7;
    letter-spacing: 0px;
    line-height: 28px;
    margin: 8px 0 0 0;
}

/* Tablet */
@media (max-width: 959px) and (min-width: 768px) {
  .implem {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 111px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 24px;
  }

  .codeboxxsvg {
    width: 532px;
    margin-left: 40px;
  }

  .implemtext {
    max-width: 800px;
  }

  .bigtxt {
    margin: 0;
  }

  .smalltxt {
    margin: 8px 0 0 0;
  }
}

/* Mobile */
@media (max-width: 767px) and (min-width: 375px) {
    .implem {
      flex-direction: column;
      text-align: center;
      padding: 60px 0px;
      gap: 8px
    }

    .codeboxxsvg {
      width: 448px;
      margin-left: 36px;
    }
    
    .implemtext {
      max-width: 338px;
    }

    .bigtxt {
      font-size: 36px;
    }
}