<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyToImplement</title>
    <link rel="stylesheet" href="eti.css">
</head>
<body>
    <section class="implem">
        <img src="../../images/shared/desktop/codebox.svg" alt="codebox" class="codeboxxsvg">

        <div class="implemtext">
            <h2 class="bigtxt">Easy to implement</h2>
            <p class="smalltxt">Our API comes with just a few lines of code. You’ll be up and running in no time. We built our documentation page to handle payments functionality with ease.</p>
        </div>
    </section>
</body>
</html>