<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="section__financies.css" />
    <title>Document</title>
  </head>
  <body>
    <article class="article__finances--flex">
      <div class="article__finances-div--padding">
        <img
          src="../../images/desktop/icon-personal-finances.svg"
          alt="finances"
        />
        <div class="article__finances-seconddiv--padding">
          <h4 class="sanJuanBlueColor h3_Small">Personal Finances</h4>
          <p class="body lightSanJuanBlueColor">
            Consolidate financial data from multiple sources and categorize
            transactions up to 2 years of history. Analyse reports to reconcile
            activities in your account.
          </p>
        </div>
      </div>
      <div class="article__finances-div--padding">
        <img
          src="../../images/desktop/icon-banking-and-coverage.svg"
          alt="banking_and_coverage"
        />
        <div class="article__finances-seconddiv--padding">
          <h4 class="sanJuanBlueColor h3_Small">Banking & Coverage</h4>
          <p class="body lightSanJuanBlueColor">
            With our platform, you can speed up account onboarding and support
            ongoing payement for checking, savings, credit card, and brokerage
            accounts.
          </p>
        </div>
      </div>
      <div class="article__finances-div--padding">
        <img
          src="../../images/desktop/icon-consumer-payments.svg"
          alt="Consumer_payments"
        />
        <div class="article__finances-seconddiv--padding">
          <h4 class="sanJuanBlueColor h3_Small">Consumer Payments</h4>
          <p class="body lightSanJuanBlueColor">
            It's easier to set up secure bank payemnts with us through a flow
            designed with the user experience in mind. Customers could instantly
            authenticate their account.
          </p>
        </div>
      </div>
    </article>
  </body>
</html>
