<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="section__financies.css">
    <title>Document</title>
  </head>
  <body>
    <article>
      <div>
        <img
          src="../../images/desktop/icon-personal-finances.svg"
          alt="finances"
        />
        <h4>Personal Finances</h4>
        <p>
          Consolidate financial data from multiple sources and categorize
          transactions up to 2 years of history. Analyse reports to reconcile
          activities in your account.
        </p>
      </div>
      <div>
        <img
          src="../../images/desktop/icon-banking-and-coverage.svg"
          alt="banking_and_coverage"
        />
        <h4>Banking & Coverage</h4>
        <p>
          With our platform, you can speed up account onboarding and support
          ongoing payement for checking, savings, credit card, and brokerage
          accounts.
        </p>
      </div>
      <div>
        <img
          src="../../images/desktop/icon-consumer-payments.svg"
          alt="Consumer_payments"
        />
        <h4>Consumer Payments</h4>
        <p>
          It's easier to set up secure bank payemnts with us through a flow
          designed with the user experience in mind. Customers could instantly
          authenticate their account.
        </p>
      </div>
    </article>
  </body>
</html>
