<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="about.css">
    <title>About us doc</title>
</head>

<body>
    <div class="container">
    <section class="firstsec">
        
        <h2>Who we work with</h2>
        <p>Today, millions of people around the world have successfully connected
            their accounts to apps they love using our API. We provide developers
            with the tools they need to create easy and accessible experiences
            for their users.</p>
        <button>About Us</button>
        

        <div class="partners">

            <div class="box">
                <img src="/images/shared/desktop/tesla.svg" alt="tesla logo" id="img1">
            </div>

            <div class="box">
                <img src="/images/shared/desktop/microsoft.svg" alt="microsoft logo" id="img2">
            </div>

            <div class="box">
                <img src="/images/shared/desktop/hewlett-packard.svg" alt="hp logo" id="img3">
            </div>

            <div class="box">
                <img src="/images/shared/desktop/oracle.svg" alt="oracle logo" id="img4">
            </div>

            <div class="box">
                <img src="/images/shared/desktop/google.svg" alt="google logo" id="img5">
            </div>

            <div class="box">
                <img src="/images/shared/desktop/nvidia.svg" alt="nvidia logo" id="img6">
            </div>

        </div>
        </div>

    </section>

</body>

</html>