<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styleForm.css" />
    <script src="/components/contactPageForm/formvalidation.js" defer></script>
  </head>
  <body class="page-bagraund-color">
    <form id="form">
      <input
        id="nameForm"
        class="textArea"
        type="text"
        placeholder="Name"
        
       
      />
      <span id="nameErorForm" class="errorMesage">Eroor</span>

      <input
        id="emailForm"
        class="textArea"
        type="email"
        placeholder="Email Address"
        required
      />
      <span id="emailErorForm" class="errorMesage">Eroor</span>

      <input
        id="companyNameForm"
        class="textArea"
        type="text"
        placeholder="Company Name"
        
      />
      <span id="companyNameErorForm" class="errorMesage">Eroor</span>

      <input
        id="titleForm"
        class="textArea"
        type="text"
        placeholder="Title"
        
      />
      <span id="titleErorForm" class="errorMesage">Eroor</span>

      <textarea
        id="messageForm"
        class="textArea"
        type="text"
        placeholder="Message"
        
      ></textarea>
      <span id="messageErorForm" class="errorMesage">Eroor</span>

      <fieldset class="check">
        <label class="container-checkbox">
          <input type="checkbox" id="checkForm"/>
          <span class="checkmark"></span>
        </label>
        <span
          >Stay up to date with company announcements and updates to our</span
        >
      </fieldset>
      <span id="checkErorForm" class="errorMesage">Eroor</span>
      <button class="submitForm secondary-button-Dark" type="submit">Submit</button>
    </form>
  </body>
</html>
