<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styleForm.css" />
  </head>
  <body class="page-bagraund-color">
    <form>
      
        <input class="textArea" type="text" placeholder="Name" />
        <span class="errorMesage">Eroor</span>
      
      
        <input class="textArea" type="text" placeholder="Email Address" />
        <span class="errorMesage">Eroor</span>

        <input class="textArea" type="text" placeholder="Company Name" />
        <span class="errorMesage">Eroor</span>

        <input class="textArea" type="text" placeholder="Title" />
        <span class="errorMesage">Eroor</span>

        <textarea class="textArea" type="text" placeholder="Message"></textarea>
        <span class="errorMesage">Eroor</span>

      <fieldset class="check">
        <label class="container-checkbox">
          <input type="checkbox" />
          <span class="checkmark"></span>
        </label>
        
        <span
          >Stay up to date with company announcements and updates to our</span
        >
      </fieldset>
    </form>
  </body>
</html>
