/* style imports */
@import url(/style.css);

@import url(/components/contactPageForm/styleForm.css);

@import url(/components/footer/footerstyle.css);

@import url(/components/navigation.css/navgiation.css);

@import url(/components/readyForStart/readyForStart.css);

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");


/* navigation part*/
body {
    background-color: hsl(207, 44%, 95%);
    height: 1190px;
    background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: -620px;
    position: relative;
    top: -14px;
    left: 22px;
}

.header_phone_button{
    margin-left: 62px;
    margin-top: 3px;
}

nav a {
    color: hsl(207, 33%, 32%);
    font: normal normal 200 15px/28px Public Sans;
    font-family: sans-serif;
    font-weight: bold;
}

.simple_button {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    border: none;
    color: hsl(220, 60%, 99%);
    align-items: center;
    background-color: hsl(337, 48%, 49%);
    font: normal normal 200 15px/28px Public Sans;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -0.12px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

    margin-left: 280px;
    margin-right: -60px;

}

/*text added */
h1 {
    width: 730px;
    height: 133px;
    color: hsl(207, 33%, 32%);
    font-size: 56px;
    letter-spacing: -0.43px;
    text-align: left;
    margin-top: 88px;
    margin-left: 11.4%;
    padding-bottom: 35px;
    font-family: serif
}

/* contact form part */
#moveFormLeft {
    padding-right: 46%;
}
input::placeholder{
    font-family: sans-serif;
}
input {
    font-family: public-sans;
    font-size: 15px;
    font-weight: lighter;
    border: none;
    border-bottom: solid 2px;
    color: hsl(207, 33%, 32%);
    opacity: 50%;

}

.errorMesage{
    position: relative;
    top: -10px;
}

textarea {
    font-family: public-sans;
    font-size: 15px;
    font-weight: lighter;
    border: none;
    border-bottom: solid 2px;
    color: hsl(207, 33%, 32%);
    opacity: 50%;
}

/* .submitForm {
    color: hsl(207, 33%, 32%);
    background: none;
    border: 1px solid hsl(207, 33%, 32%);
    border-radius: 24px;
    width: 152px;
    height: 60px;
    
} */

.submitForm:hover {
    color: hsl(220, 60%, 99%);
    background: hsl(207, 33%, 32%);
    border: 1px solid hsl(207, 33%, 32%);

}

#checkForm {
    position: relative;
    top: -24px;
}

.checktext {
    margin-left: -10px;
    margin-top: 2px;
    text-align: left;
    font-size: 15px;
    font: 200 15px/25px Public Sans;
    letter-spacing: -0.12px;
    color: hsl(207, 33%, 32%);
}

/*interactable*/
input:hover {
    opacity: 100%;
}

textarea:hover {
    opacity: 100%;
}

#checkForm:checked {
    appearance: none;
    background-color: hsl(337, 48%, 49%);
    opacity: 100%;
    cursor: pointer;
    border: none;

}

/* ready for start part */

h3 {
    color: hsl(207, 33%, 32%);
    text-align: left;
    letter-spacing: -0.37px;
    font-size: 48px;
}

.butta{
   padding-left: 7px;
   letter-spacing: -0.3px;
   font-weight: bold;
   font-family: Public Sans;
   font-size: 0.938rem;
}

#mobilebutton {
    background-color: hsl(220, 60%, 99%);
    font-family: Public Sans;
}

/*footer */
footer {
    background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position-x: 1050px;
    background-position-y: -150px;
    margin-top: -7px;

}

    /* footer logo color handled globally in components/footer/footerstyle.css */

/* added logos */
h4 {
    width: 445px;

    text-align: left;
    letter-spacing: -0.18px;
    color: hsl(207, 33%, 32%);
    opacity: 75%;
    font-size: 24px;
    padding-top: 10px;
    line-height: 2rem;
    letter-spacing: 0.4px;

    position: absolute;
    top: 464px;
    left: 52%;
}

.partners {
    width: 536px;
    height: 103px;
    margin-left: 51%;
    margin-top: -500px;
    padding-bottom: 55px;
    padding-top: 4px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 2.3%;
    row-gap: 40px;
}

.box {
    width: 145px;
    height: 33px;

    flex-basis: auto;
}


#img1 {
    width: 129px;
    padding-top: 4px;
    margin-left: -4px;
}

#img2 {
    width: 145px;
    margin-left: 5px;
    margin-top: -1px;
}

#img3 {
    width: 140px;
    margin-left: -5px;
    margin-top: -5px;
}

#img4 {
    width: 131px;
    margin-left: 17px;
    margin-top: -28px;
    padding-bottom: 3px;
}

#img5 {
    width: 96px;
    margin-left: -17px;
    margin-top: -28px;
}

#img6 {
    width: 137px;
    margin-left: 5px;
    margin-top: -65px;
    padding-bottom: 3px;
}

.cfda{
    font: 200 15px/25px Public Sans;
    margin-top: -4px;
    margin-left: -1px;
    letter-spacing: -0.13px;
}
.mara{
    margin-top: -7px;
}
.mara2{
    margin-top: -8px;
}
.mara3{
    margin-top: -8px;
}
.mara4{
    margin-top: -10px;
    padding-bottom:50px;
}
.mara5{
    margin-top: 7px;
    margin-left: -2px;
}

.hraw{
    /* margin-left: 22px; */
    margin-top: 53px;
    font-family: "DM Serif Display";
    font-size: 2rem;
    letter-spacing: -0.25px;
    font-weight: normal;
    line-height: 1.15em;
}
.daryh{
    margin-top: -10px;
    padding-bottom: 10px;
}
.hasan{
    margin-top: -8px;
    background-color: white;
}

.vylar{
    font-family: "DM Serif Display";
    font-size: 1.5rem;
    letter-spacing: -0.18px;
    font-weight: normal;
    margin-left: 22px;
}
.tableNotExist{
    display: inline;
    position: relative;
    top: 0px;
}

.lgm{
    margin-left: 25px;
}

.payapi{
    padding-top: 6px;
    padding-left: -10px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexaar{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*correction*/
@media (max-width: 1150px) and (min-width: 960px) {
    body {
        background-position-x: 650px;
        background-position-y: -520px;
    }

    .partners {
        width: 500px;
        margin-top: -240px;
        
        column-gap: 2.5%;
        row-gap: 2.5%;
    }

    #moveFormLeft {
        padding-right: 52%;
    }
    h3 {
    text-align: center;
    margin-left: -50px;
}

}

/*tablet*/
@media (max-width: 959px) and (min-width: 768px) {
    body {
        height: 1610px;
        background-position-x: 530px;
        background-position-y: -470px;

    }

    /*header part */
    header img {
        padding-right: 0px;
    }

    .simple_button {
        margin-left: 10px;
        margin-right: -10px;
    }

    h1 {
        font-size: 48px;
        letter-spacing: -0.37px;
        width: 523px;
        height: 178px;
        text-align: center;
        margin: auto;
        margin-top: 88px;
    }

    /*form part*/
    #moveFormLeft {
        padding-left: 0px;
        padding-right: 0px;
    }

    .ready {
        margin: auto;
        margin-bottom: 100px;
    }

    .h3_Big {
        text-align: center;
        font-family: "DM Serif Display", serif;

    }

    /* reduce gap between heading and button on tablet to ~25px */
    .ready > div {
        margin-top: 25px;
    }
    /* ensure heading has no bottom margin so gap is controlled only by the div's margin */
    .ready .h3_Big {
        margin-bottom: 0;
    }

    /*logos*/
    .partners {
        margin: auto;
        margin-top: 200px;
    }

    h4 {
        margin: auto;
        margin-top: 20px;
        text-align: center;
        top: 920px;
        left: 22%;
    }

    footer {
        background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-position-x: 355px;
        background-position-y: -110px;
    }

}

/*mobile*/
@media (max-width: 767px) {
    body {
        height: 1836px;
        background-position-x: 80px;
        background-position-y: -640px;

    }

    header img {
        margin: auto;
        margin-right: 25px;
        margin-left: 40px;
    }

    h1 {
        font-size: 32px;
        letter-spacing: -0.25px;
        width: 327px;
        height: 116px;
        text-align: center;
        padding: auto;
        margin: auto;
        margin-top: 54px;
    }

    /*form part*/
    #moveFormLeft {
        padding-left: 25px;

    }

    /*logos*/
    h4 {
        width: 327px;
        height: 97px;
        margin: auto;
        padding: auto;
        margin-top: -90px;
        text-align: center;
        margin-top: 80px;
        position: unset;
    }

    .partners {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 276px;
        column-gap: 20px;
        row-gap: 42px;
    }

    .box {
        width: 119px;
        height: 27px;
    }

    #img1 {
        width: 106px;
    }

    #img2 {
        width: 119px;
    }

    #img3 {
        width: 114px;
    }

    #img4 {
        width: 107px;
    }

    #img5 {
        width: 79px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #img6 {
        width: 112px;
    }

    /* ready for start part */
    /* reduce gap between heading and button on mobile to ~20px */
    .ready {
        margin-top: 85px;
        margin-left: auto;
        margin-bottom: 100px;
    }

    h3 {
        text-align: center;
    }

    /*footer*/
    footer {
        background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 175px;
    }
}

/* force .h3_Big size */
.h3_Big {
    font-size: 48px;
}

/* mobile-specific heading size override for Ready to start? */
@media (max-width: 767px) {
    .h3_Big {
        font-size: 32px;
    }
    .ready > div {
        margin-top: 20px;
    }
    /* ensure heading has no bottom margin so gap is controlled only by the div's margin */
    .ready .h3_Big {
        margin-bottom: 0;
    }
}

@media (min-width: 768px){
    .lgm{
        margin-left: -58px;
    }
    .newa{
        font-family: "PublicSans";
        font-weight: bold;
        font-size: 0.938;
    }
    .nea1{
        margin-left: -13px;
    }
    .conttablbut{
        
        margin-right: 0px;
    }
    .hraw{
        margin: 0;
        margin-top: 86px;
        /* margin-left: 118px; */
        font-size: 3rem;
        padding-bottom: 44px;
    }
 
.mara2{
    margin-top: -8px;
}
.mara3{
    margin-top: -8px;
}
.mara4{
    margin-top: -10px;
    padding-bottom:46px;
}
.mara5{
    margin-top: 6px;
    margin-left: 0px;
}
.cfda{
    font: normal normal 200 15px/25px Public Sans;
    letter-spacing: -0.24px;
    margin-left: -1px;
    margin-top: -4px;
    width: 410px;
}
.submitForm{
    font-family: "Public Sans";
    font-size: 0.938rem;
    font-weight: bold;
    margin-left: 3px;
}
.vylar{
    margin-top: 35px;
    margin-left: -8px;
    letter-spacing: -0.18px;
}
.tableNotExist{
    display: none;
}
#img1 {
    width: 129px;
    padding-top: -10px;
    margin-left: -14px;
}

#img2 {
    width: 145px;
    margin-left: -5px;
    margin-top: -2px;
}

#img3 {
    width: 140px;
    margin-left: 19px;
    margin-top: -1px;
}

#img4 {
    width: 131px;
    margin-left: -14px;
    margin-top: 2px;
    padding-bottom: 3px;
}

#img5 {
    width: 96px;
    margin-left: 21px;
    margin-top: -4px;
}

#img6 {
    width: 137px;
    margin-left: 22px;
    margin-top: -1px;
    padding-bottom: 3px;
}
.partners{
    margin-top: 166px;
}
.ready{
    margin-top: 60px;
    margin-bottom: 26px;
}
.daryh{
    padding-bottom: 22px;
    margin-bottom: 0;
}
.hasan{
    margin-top: 0px;
    letter-spacing: -0.03rem;
}
.payapi{
    margin-top: -5px;
    padding-left: 9px;
}
}

@media (min-width:1300px) {
    h4{
        position: static;
    }
    .reality{
        display: flex;
        flex-direction: row;
        gap: 124px;
    }
    .vylar{
        margin: 0;
        padding: 10px;
    }
    .partners{
        margin: 0;
    }
    .col{
        width: 541px;
        margin-top: 112px;
        margin-left: -49px;
    }
    #moveFormLeft{
        padding: 0;
        padding-left: 10.4rem;
        margin-top: -10px;
        width: 445px;
    }
    .lgm{
        margin-left: 8px;
    }
  
    .nea1{
        margin-left: 29px;
    }
    .hraw{
        margin: 0;
        margin-top: 90px;
        margin-left: 165px;
        font-size: 3.5rem;
        line-height: 3.5rem;
        padding-bottom: 44px;
    }
    .tableNotExist{
    display: inline;
}
#img1 {
    width: 129px;
    padding-top: 23px;
    margin-left: 31px;
}

#img2 {
    width: 145px;
    margin-left: 42px;
    margin-top: 19px;
}

#img3 {
    width: 140px;
    margin-left: 66px;
    margin-top: 20px;
}

#img4 {
    width: 131px;
    margin-left: 33px;
    margin-top: 23px;
    padding-bottom: 3px;
}

#img5 {
    width: 96px;
    margin-left: 68px;
    margin-top: 16px;
}

#img6 {
    width: 137px;
    margin-left: 68px;
    margin-top: 20px;
    padding-bottom: 3px;
}
.daryh{
    margin-top: 130px;
    margin-left: -360px;
    padding-right: 65px;
}
.ready{
    margin-top: 100px;
    margin-left: 525px;
}
footer{
    margin-top: -29px;
}
.payapi{
    margin-top: -17px;
    padding-left: 9px;
}
.conttablbut{
    margin-left: -0px;
}
}
@media(min-width:960px){
    .partners{
        margin: 0;
        margin-top: 20px;
    }
    h4{
        position: static;
    }
}