@import url(/style.css);
@import url(/components/navigation.css/navgiation.css);
@import url(/components/pricing/pricing.css);
@import url(/components/readyForStart/readyForStart.css);
@import url(/components/footer/footerstyle.css);

.pricing_page_circle {
  position: absolute;
  top: -527px;
  left: 800px;
  width: 780px;
  height: 780px;
}

body {
  background-color: rgb(237, 243, 248);
}

@media (min-width: 1440px) {
  .pricing_page_navigacion {
    padding-left: 65px;
    font-size: 15px;
    padding-top: 3px;
    word-spacing: 37px;
  }
  .pricing_page_navigacion_link {
    font-size: 15px;
  }
  .pricing_page_navigacion_logo {
    padding-left: 11px;
  }
  .pricing_page_navigacion_buton {
    box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.3);
  }
  .pricing_page_pricing {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 3px;
  }
  .pricing_page_plan {
    line-height: 28px;
    margin-bottom: 30px;
  }
  .pricing_page_free {
    margin-top: 30px;
    width: 350px;
    height: 44px;
    align-content: center;
  }
.pricing_page_free_plan{
    margin-left: -2px;
}
  .pricing_page_valar {
    margin-top: -10px;
  }
  .pricing_page_price {
    margin-bottom: 5px;
    width: 350px;
    height: 77px;
    align-content: center;
    margin-top: 30px;
  }
  .pricing_page_price_maximum_price {
    margin-left: 10px;
  }
  .pricing_page_price_midle_price {
    margin-left: 3px;
  }
  .pricing_page_price_start_price {
    margin-left: -2px;
  }
}
