@import url(/style.css);
@import url(/components/navigation.css/navgiation.css);
@import url(/components/pricing/pricing.css);
@import url(/components/readyForStart/readyForStart.css);
@import url(/components/footer/footerstyle.css);

body {
  background-color: rgb(237, 243, 248);
}

.pricing_page_circle {
  position: absolute;
  top: -644px;
  left: 74px;
  z-index: -1;
}

footer {
  background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position-x: 1050px;
  background-position-y: -150px;
}

.pricing_page_navigacion_logo {
  position: relative;
  right: 20px;
}

.pricing_page_navigacion_burger {
  position: relative;
  left: 23px;
  top: 2px;
}

.pricing_page_pricing {
  margin-top: 51px;
  margin-bottom: 30px;
  margin-left: -1px;
}

.pricing_page_tablet_plan_start {
  font-size: 14.5px;
  position: relative;
  top: -31px;
  line-height: 28px;
  left: 0px;
  width: 327px;
  height: 45px;
}

.pricing_page_free_plan {
  position: relative;
  top: -18px;
  left: 52px;
  width: 223px;
  height: 33px;
  align-content: center;
}
.pricing_page_tablet_price {
  font-size: 56px;
  position: relative;
  top: -12px;
  left: 0px;
}
.pricing_page_check_position {
  padding-top: 18px;
  padding-bottom: 22px;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.pricing_page_check_position_free {
  margin-left: 0px;
  padding-left: 37px;
  position: relative;
  left: 0px;
}

.pricing_page_tablet_plan_midle {
  line-height: 28px;
  font-size: 14px;
  position: relative;
  top: -1px;
  right: 1px;
  width: 327px;
  height: 45px;
}
.pricing_page_tablet_base_plan {
  margin-left: 0px;
  font-size: 56px;
  position: relative;
  top: 20px;
}

.pricing_page_tablet_basic_plan {
  position: relative;
  top: 12px;
}

.pricing_page_check_position_base {
  margin-top: 25px;
  padding-left: 34px;
}
.pricing_page_tablet_premium_plan {
  position: relative;
  top: 11px;
  right: -1px;
}

.pricing_page_tablet_plan_end {
  font-size: 14.5px;
  line-height: 28px;
  position: relative;
  top: -1px;
  right: -1px;
  width: 327px;
  height: 45px;
}

.pricing_page_price_maximum_price {
  position: relative;
  top: 19px;
  right: 0px;
  font-size: 56px;
}
.pricing_page_check_position_max {
  margin-top: 25px;
  margin-right: 0px;
  padding-left: 35px;
  position: relative;
  left: 0px;
}
.pricing_page_ready {
  font-size: 32px;
  margin-top: 72px;
  margin-bottom: 29px;
  margin-left: 3px;
}

.pricing_page_footer {
  margin-top: 94px;
  padding-top: 42px;
  padding-left: 164px;
  padding-bottom: 51px;
}
.pricing_page_footer_twiter {
  position: relative;
  top: 2px;
}

footer {
  background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position-x: -194px;
  background-position-y: 179px;
}



@media (min-width: 768px) {
  .pricing_page_circle {
    position: absolute;
    top: -464px;
    left: 505px;
  }
  .pricing_page_nav_element {
    margin-left: -90px;
  }
  .pricing_page_navigacion_link {
    font-size: 15px;
  }
  .pricing_page_navigacion_logo {
    padding-left: 18px;
  }
  .pricing_page_navigacion {
    padding-left: 8px;
    font-size: 15px;
    padding-top: 2px;
    word-spacing: 38px;
  }
  .pricing_page_navigacion_buton {
    box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.3);
    padding-left: 6px;
    padding-bottom: 3px;
  }
  .pricing_page_pricing {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 1px;
  }
  /* .pricing_page_plan {
    font-size: 14px;
    margin-bottom: 30px;
    width: 350px;
    font: normal normal 200 15px/28px Public Sans;
  } */
  .pricing_page_tablet_plan_start {
    font-size: 14.5px;
    position: relative;
    top: -11px;
    line-height: 28px;
    left: 12px;
    width: 225px;
    height: 73px;
  }
  .pricing_page_tablet_plan_end {
    font-size: 14.5px;
    line-height: 28px;
    position: relative;
    top: -11px;
    right: 15px;
    width: 225px;
    height: 73px;
  }
  .pricing_page_tablet_plan_midle {
    line-height: 28px;
    position: relative;
    top: -11px;
    right: 1px;
    width: 225px;
    height: 73px;
  }
  .pricing_page_free_plan {
    position: relative;
    top: -3px;
    left: 14px;
    width: 223px;
    height: 33px;
    align-content: center;
  }

  .pricing_page_tablet_price {
    font-size: 48px;
    position: relative;
    top: -12px;
    left: 13px;
  }

  .pricing_page_price_maximum_price {
    position: relative;
    top: -8px;
    right: 14px;
    font-size: 48px;
  }
  .pricing_page_tablet_base_plan {
    margin-left: 0px;
    font-size: 48px;
    position: relative;
    top: -7px;
  }
  .pricing_page_price_start_price {
    font-size: 48px;
    position: relative;
    top: -6px;
  }
  .pricing_page_tablet_free_plan {
    position: relative;
    left: 14px;
  }
  .pricing_page_tablet_basic_plan {
    position: relative;
    top: -4px;
  }
  .pricing_page_tablet_premium_plan {
    position: relative;
    top: -4px;
    right: 14px;
  }
  .pricing_page_check_position {
    padding-top: 18px;
    padding-bottom: 24px;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .pricing_page_check_position_free {
    margin-left: 0px;
    padding-left: 36px;
    position: relative;
    left: 13px;
  }
  .pricing_page_check_position_base {
    margin-left: 0px;
    padding-left: 34px;
    margin-top: 0px;
  }
  .pricing_page_check_position_max {
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 35px;
    position: relative;
    left: -14px;
  }
  .pricing_page_free_buton {
    margin-left: 29px;
    margin-bottom: 3px;
  }
  .pricing_page_base_buton {
    margin-left: -1px;
    margin-bottom: 3px;
  }
  .pricing_page_prem_buton {
    margin-left: -28px;
    margin-bottom: 4px;
  }
  .pricing_page_ready {
    font-size: 48px;
    margin-top: 90px;
    margin-bottom: 23px;
    margin-left: 4px;
  }
  .pricing_page_footer {
    margin-top: 20px;
    padding-top: 31px;
    padding-left: 49px;
    padding-bottom: 30px;
  }
  .pricing_page_footer_twiter {
    position: relative;
    top: 2px;
  }
  footer {
    background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position-x: 355px;
    background-position-y: -110px;
  }
}
@media (min-width: 1440px) {
  .pricing_page_circle {
    position: absolute;
    top: -527px;
    left: 800px;
    z-index: -1;
  }
  .pricing_page_navigacion_logo {
    position: relative;
    right: 0px;
  }
  .pricing_page_pricing {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .pricing_page_tablet_plan_start {
  font-size: 0px;
  position: relative;
  top: -0px;
  line-height: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}
.pricing_page_free_plan {
  position: relative;
  top: -0px;
  left: 0px;
  width: 0px;
  height: 0px;
  align-content: center;
}
.pricing_page_tablet_price {
  font-size: 0px;
  position: relative;
  top: 0px;
  left: 0px;
}
.pricing_page_check_position {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.pricing_page_check_position_free {
  margin-left: 0px;
  padding-left: 0px;
  position: relative;
  left: 0px;
}

.pricing_page_tablet_plan_midle {
  line-height: 0px;
  font-size: 0px;
  position: relative;
  top: -0px;
  right: 0px;
  width: 0px;
  height: 0px;
}
.pricing_page_tablet_base_plan {
  margin-left: 0px;
  font-size: 0px;
  position: relative;
  top: 0px;
}

.pricing_page_tablet_basic_plan {
  position: relative;
  top: 0px;
}

.pricing_page_check_position_base {
  margin-top: 0px;
  padding-left: 0px;
}
.pricing_page_tablet_premium_plan {
  position: relative;
  top: 0px;
  right: -0px;
}

.pricing_page_tablet_plan_end {
  font-size: 0px;
  line-height: 0px;
  position: relative;
  top: -0px;
  right: -0px;
  width: 0px;
  height: 0px;
}

.pricing_page_price_maximum_price {
  position: relative;
  top: 0px;
  right: 0px;
  font-size: 0px;
}
.pricing_page_check_position_max {
  margin-top: 0px;
  margin-right: 0px;
  padding-left: 0px;
  position: relative;
  left: 0px;
}
.pricing_page_ready {
  font-size: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.pricing_page_footer {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.pricing_page_footer_twiter {
  position: relative;
  top: 0px;
}


  .pricing_page_navigacion {
    padding-left: 67px;
    font-size: 15px;
    padding-top: 3px;
    word-spacing: 37px;
  }
  .pricing_page_navigacion_link {
    font-size: 15px;
  }
  .pricing_page_navigacion_logo {
    padding-left: 2px;
  }
  .pricing_page_navigacion_buton {
    box-shadow: 4px 8px 18px rgba(0, 0, 0, 0.3);
    margin-left: -5px;
  }
  .pricing_page_pricing {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: -2px;
  }
  .pricing_page_plan {
    font-size: 14px;
    margin-bottom: 30px;
    width: 350px;
    font: normal normal 200 15px/28px Public Sans;
  }
  .pricing_page_plan_start {
    font-size: 14.5px;
  }
  .pricing_page_plan_end {
    font-size: 14px;
  }
  .pricing_page_free {
    margin-top: 29px;
    width: 350px;
    height: 44px;
    align-content: center;
  }
  .pricing_page_free_plan {
    margin-left: -7px;
  }
  .pricing_page_base_plan {
    margin-left: -1px;
  }
  .pricing_page_premium_plan {
    margin-left: 5px;
  }
  .pricing_page_midle_plan {
    margin-left: 1px;
  }
  .pricing_page_final_plan {
    margin-left: 10px;
  }

  .pricing_page_valar {
    margin-top: -12px;
  }
  .pricing_page_price {
    margin-bottom: 5px;
    width: 350px;
    height: 77px;
    align-content: center;
    margin-top: 30px;
  }
  .pricing_page_price_maximum_price {
    margin-left: 5px;
  }
  .pricing_page_price_midle_price {
    margin-left: -1px;
  }
  .pricing_page_price_start_price {
    margin-left: -7px;
  }
  .pricing_page_check_position {
    padding-top: 12px;
    padding-bottom: 18px;
    display: block;
  }
  .pricing_page_check_position_free {
    margin-left: -15px;
  }
  .pricing_page_check_position_base {
    margin-left: -7px;
  }
  .pricing_page_check_position_max {
    margin-left: -1px;
  }
  .pricing_page_check_position_auth {
    margin-left: 12px;
  }
  .pricing_page_free_buton {
    margin-left: -5px;
  }
  .pricing_page_base_buton {
    margin-left: 1px;
  }
  .pricing_page_prem_buton {
    margin-left: 7px;
  }
  .pricing_page_ready {
    font-size: 48px;
    margin-top: 4px;
    margin-left: -214px;
  }
  .pricing_page_ready_form {
    position: relative;
    top: -22px;
    left: 219px;
  }
  .pricing_page_footer {
    margin-top: -22px;
    padding-top: 31px;
    padding-left: 174px;
    padding-bottom: 30px;
  }
}