@import url(/style.css);

/* .phone_mockup {
  position: absolute;
  right: 157px;
  left: 867px;
  top: -152px;
}

.text_article_start {
  position: relative;
  top: 237px;
}
.h1_article_start {
  text-align: left;
  margin-top: 0;
  margin-bottom: 24px;
  color: #36536b;
  line-height: 70px;
  width: 546px;
  height: 243px;
  margin-right: 154px;
  font-weight: 100;
}

.home_article_start_text {
  padding-left: 165px;
}

.form_div_article_start {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  width: 445px;
  height: 48px;
}
.input_article_start {
  padding: 12px 18px;
  font-size: 16px;
  border: 0px solid rgb(204, 204, 204);
  border-radius: 40px;
  outline: none;
  width: 221px;
}
.button_article_start {
  padding: 18px 25px;
  height: 48px;
  font-size: 16px;
  color: white;
}
.primary-button {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 40px;
  border: 0;
}
.primary-button:hover {
  color: #fbfcfe;
  background-color: #da6d97;
  border-radius: 40px;
  border: 0;
}
.primary-button:disabled {
  color: #fbfcfe;
  background-color: #ba4270;
  border-radius: 40px;
  border: 1px solid #fbfcfe;
}

.h1_Large {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  font-style: normal;
}
.a_article_start {
  color: rgb(108, 130, 148);
  margin-top: 0;
}

.questions_article_start {
  color: rgb(108, 130, 148);
  padding-left: 27px;
}

@media screen and (max-width: 768px) {
  .phone_mockup {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 5px;
    content: url(/components/articale-start/images/mobile_tablet.svg);
    padding-left: 50px;
    right: 0px;
    left: 0px;
    top: 0px;
  }
  .home_article_start_text {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .home_article_start_text {
    position: relative;
    top: 490px;
    
  }
  .h1_article_start {
    text-align: center;
    width: 573px;
    height: 122px;
    margin-right: 0px;
    
  }
  .h1_Large {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    font-style: normal;
    letter-spacing: -0.37px;
    line-height: 56px;
  }
  .questions_article_start {
    color: rgb(108, 130, 148);
    padding-left: 0px;
  }
}

@media screen and (max-width: 375px) {
  .phone_mockup {
    display: flex;
    justify-content: center;
    content: url(/components/articale-start/images/ilustration_phone_mobile.svg);
    margin-left: 71px;
    right: 0px;
    left: 0px;
    top: 0px;
  }
  .home_article_start_text {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home_article_start_text {
    position: relative;
    top: 377px;
  }
  .h1_article_start {
    text-align: center;
    width: 327px;
    height: 116px;
    margin-right: 0px;
  }
  .h1_Large {
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    font-style: normal;
    letter-spacing: -0.25px;
    line-height: 36px;
  }
  .form_div_article_start {
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    width: 327px;
  }
  .form_article_start {
    height: 48px;
  }
  .input_article_start {
    padding: 12px 18px;
    font-size: 16px;
    border: 0px solid rgb(204, 204, 204);
    border-radius: 40px;
    outline: none;
  }
  .button_article_start {
    position: relative;
    text-align: center;
    width: 100px;
    top: 64px;
    right: 265px;
    height: 48px;
    padding: 24px 163px;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .questions_article_start {
    color: rgb(108, 130, 148);
    padding-left: 0px;
    margin-top: 90px;
  }
} */

.mob{
  padding-left: 50px;
  margin-bottom: -110px;
}

.headering{
  font-weight: normal;
  width: 327px;
  height: 116px;
  text-align: center;
  margin-bottom: 13px;
}

.staart > div{
    
    align-items: center;
    display: flex;
    flex-direction: column;
}

.staart > div > input {
  width: 142px;
  height: 16px;
  border-radius: 24px;
  /* border: 1px solid #36536b; */
  border: 0;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.12px;
  padding: 16px 158px 16px 27px;
  font-weight: bold;
  opacity: 0.5;
}
.staart > div > button {
  position: relative;
  top: 16px;
  width: 327px;
  height: 48px;
  font-weight: bold;
}

.linker{
  text-align: center;
  position: relative;
  top: 16px;
  margin-top: 24px;
}

.linker > a{
  font-weight: bold;
}

.artea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imgecircle{
  position: absolute;
  top: -550px;
  left: -202px;
  width: 780px;
  height: 780px;
  z-index: -1;
}


@media (min-width: 768px) {

  .imgecircle{
    width: 949px;
    height: 949px;
    left: -91px;
    top: -663px;
  }


  .staart > div {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 445px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fbfcfe;
    border-radius: 24px;
  }
  .staart > div > input {
    float: left;
    padding: 16px 103px 16px 27px;
    box-shadow: none;
  }
  .staart > div > button {
    width: 173px;
    position: static;
  }
  .headering{
    width: 573px;
  }
  .h3_Big{
    font-size: 48px;
  }
  .mob{
    display: flex;
    align-items: center;
    content: url(/components/articale-start/images/mobile_tablet.svg);
  }
}

@media (min-width: 1440px) {
  .imgecircle{
    top: -172px;
    left: 800px;
    width: 780px;
    height: 780px;
  }
  .staart {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 68px;
    margin-top: 80px;
  }
  .staart > div {
    margin-bottom: 0;
  }
  .h3_Big {
    text-align: left;
    width: 445px;
    height: 66px;
    font-size: 48px;
    margin: 0;
  }
  .artea{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .headering{
    width: 546px;
    height: 243px;
  }
   .h3_Big{
    font-size: 72px;
  }
  .mob{
    display: flex;
    align-items: center;
    content: url(/components/articale-start/images/ilustration-phone-mockup-fix.svg);
  }
  .centered2{
    display: flex;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    margin-left: 165px;
    gap: 0;
  }
  .linker {
  width: 226px;
  margin-left: 27px;
  text-align: left;
}
.centered{
  display: flex;
  justify-content: space-between;
}
}