/* style imports */
@import url(../../style.css);

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url(../../components/navigation.css/navgiation.css);

@import url(../../components/aboutP_start/aboutP-start.css);

@import url(../../components/about_end/aboutend.css);

@import url(../../components/footer/footerstyle.css);

@import url(../../components/readyForStart/readyForStart.css);


/*background*/
body {
    background-color: hsl(207, 44%, 95%);
    height: 1190px;
    background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: -527px;
}

/*navigation */

header img {
    padding-right: 2rem;
    margin-left: 0rem;
}

.h3_Small {
    font-size: 15px;
}

nav a {
    color: hsl(207, 33%, 32%);
    font: normal normal 200 15px/28px Public Sans;
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration: none;
}

.simple_button {
    border-radius: 24px;
    border: none;
    color: hsl(220, 60%, 99%);
    align-items: center;
    background-color: hsl(337, 48%, 49%);
    font: normal normal 200 15px/28px Public Sans;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -0.12px;

}

/*body*/

.article__h3--padding {
    margin-top: 20px;
}

.article_aboutStart--flex {
    color: hsl(207, 33%, 32%);
    margin-left: -2rem;
}

.article_h2--size {
    width: 255px;
    height: 44px;
    margin-left: 75px;
}

.article__startP--size {
    font: normal normal 200 15px/28px Public Sans;
    letter-spacing: 0px;
    width: 680px;
    margin-left: 2rem;
}

.article_aboutStart_firstDiv {
    height: 73px;

}

.article_aboutStart_secondDiv--padding{
    padding-top: 0.4rem;
}

.article_aboutStart_secondDiv{
    margin-top: -0.2rem;
}

/* body end part */

.article__aboutStart--img {
    margin-top: 18.713rem;
    background-size: 100%;
    height: 500px;
}

.about_end_border {
    margin-top: 1.4rem;
}

.order_text_about_end {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}

.h1_Small {
    margin-top: 1rem;
    margin-bottom: -0.035rem;
}

.h4 {
    margin-top: 0rem;
    margin-left: 16.25rem;
}

.body_about_end {
    font: normal normal 200 15px/28px Public Sans;
    letter-spacing: 0px;
}

.body_about_end_2 {
    padding-top: 4.5rem;
}

.about_end_text_flex {
    margin-top: -0.25rem;
}

/*ready to start part */

.ready {
    text-align: left;
    margin-top: 8.05rem;
    margin-left: 6.43rem;
}

.ready>div {
    align-items: center;
    display: unset;
    height: 48px;
    margin-right: -22.64rem;
    margin-top: -4.6rem;
}

.primary-button {
    font-size: 15px;
    letter-spacing: -0.12px;

}

#fontsizeinput {
    width: 142px;
    font-size: 15px;
    letter-spacing: -0.12px;

}

/*footer*/
footer {
    height: 100px;
    margin-top: -2.30rem;
}

.logo {
    margin-left: 0.57rem;
    margin-top: 0.2rem;
}

.social-icons {
    margin-top: 0.25rem;
}

.twittersize {
    margin-top: 2px;
}

/*tablet sizing */

@media (max-width: 959px) and (min-width: 768px) {

    /*background*/
    body {
        background-position-x: 505px;
        background-position-y: -464px;
    }

    /* header */
    header img {
        margin-left: -0.95rem;
    }

    .leftNav {
        padding-left: 0.05rem;
    }

    .leftleftNav {
        margin-right: 4rem;
    }


    /*body 1*/

    .article__h3--padding {
        margin: 0rem;
        margin-bottom: 3.4rem;
    }

    .article_aboutStart--flex {
        margin-left: 0rem;
    }

    .article_h2--size {
        width: 223px;
        margin: 0px;
    }

    .article__startP--size {
        font: normal normal 200 15px/28px Public Sans;
        letter-spacing: 0px;
        width: 456px;
        padding-left: -1rem;
    }

    .article_aboutStart_secondDiv--padding {
        padding-top: 2.15rem;
    }

    .article_aboutStart_secondDiv{
        margin-top: 0.05rem;
        padding-left: 1rem;
    }

    /*body 2 */

    .article__aboutStart--img {
        margin-top: 15.4rem;
        height: 267px;
    }

    .about_end_border {
        margin-top: 1rem;
    }

    .h1_Small {
        margin-top: 1rem;
        margin-bottom: -0.035rem;
    }

    .h4 {
        width: 223px;
        letter-spacing: -0.25px;
        font-size: 32px;
        margin-left: -0.1rem;
        margin-top: 0px;
        padding-top: 0.7rem;
    }

    .body_about_end {
        width: 456px;
        height: 129px;
        letter-spacing: 0px;
        margin-bottom: 0.45rem;
    }

    /* ready part */

    .ready {
        text-align: center;
        margin: auto;
        margin-top: -1.2rem;
        margin-left: 0.2rem;
    }

    .ready>div {
        align-items: center;
        display: flex;
        height: 48px;
        margin-right: auto;
        margin-top: -1.5rem;

    }

    .primary-button {
        font-size: 15px;
        letter-spacing: -0.12px;

    }

    #fontsizeinput {
        width: 142px;
        font-size: 15px;
        letter-spacing: -0.12px;

    }

    /* footer */
    footer {
        margin-top: 1.25rem;
    }
}

/*mobile*/
@media (max-width: 767px) {

    /*background*/
    body {
        background-position-x: 74px;
        background-position-y: -644px;

    }

    /*navigation */

    .header_phone_button{
        margin-left: 5.3rem;
        margin-top: 0.3rem;
        padding: 0;
    }

    header img {
        padding-right: 0rem;
        margin-left: 0rem;
    }

    .h3_Small {
        display: none;
    }

    /*body*/

    .article__h3--padding {
        padding-bottom: 0rem;
        margin-bottom: 0px;
    }


    .article__startP--size {
        width: 327px;
    }

    .article_h2--size {
        width: 255px;
        text-align: center;
        padding: 0%;
        margin-bottom: -1.5rem;
    }

    .article_aboutStart--flex {
        margin: 0rem;
        margin-top: -1rem;
        margin-left: -0.3rem;
    }

    .article_aboutStart_secondDiv {
        padding: 0px;
        margin: auto;
        margin-left: -2.1rem;
        margin-top: 1.2rem;
    }

    .article_aboutStart_secondDiv--padding {
        padding-top: 1.4rem;
    }

    /* body 2 */

    .article__aboutStart--img {
        margin-top: 20.9rem;
    }

    .about_end_article {
        margin-top: -3.74rem;
        padding-bottom: -4rem;
    }

    .h1_Small {
        margin: auto;
        margin-bottom: -0.65rem;
    }

    .h4 {
        width: 255px;
        margin: auto;
        padding-bottom: 0.3rem;
    }

    .about_end_text_output {
        margin-top: 4.2rem;
    }

    .body_about_end_2 {
        margin-top: -1.7rem;
    }

    /* ready part */

    .ready {
        text-align: left;
        margin: auto;
        margin-top: 3.4rem;
    }

    .ready>div {
        align-items: center;
        height: 48px;
        width: 327px;
        margin: auto;
        margin-left: 1.5rem;
    }

    #fontsizeinput{
        width: 290px;
    }

    .primary-button {
        font-size: 15px;
        letter-spacing: -0.12px;
        margin: auto;
        margin-left: 2.2rem;
        padding: 1rem;

    }

    .rdtxt{
        margin-left: 5.15rem;
    }


    /*footer */

     footer {
        background-image: url(../../images/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 176px;
     }


    footer {
        height: 353px;
        margin-top: 1rem;
    }

    .logo {
        margin: auto;
        margin-top: 0.1rem;
    }

    .social-icons {
        margin-top: -0.15rem;
    }

    .twittersize {
        margin-top: 2px;
    }

}