@media screen and (min-width: 768px) and (max-width: 959px) {
  /* ------------------NAV----------------- */
  .header--pos {
    gap: 50px;
  }

  .h3_Small {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
  }

  /* ----section1------ */

  .h3_Big {
    font-size: 3rem;
  }

  .section1__div2__h1--pos {
    position: relative;
    bottom: -30px;
    line-height: 56px;
  }

  .section1__prompts--pos {
    position: relative;
    top: 20px;
  }

  /* ----------------SECTION2------------ */

  .container {
    margin-top: 30px;
  }

  .section2__partners--pos {
    position: relative;
    bottom: 45px;
    height: 150px;
    column-gap: 50px;
  }

  .section2__leftText--pos {
    position: relative;
    bottom: 96px;
  }

  .firstsec {
    height: 356px;
    background-position-y: -540px;
  }

  /* ------SECTION3----- */

  .codeboxxsvg {
    position: relative;
    bottom: 45px;
  }

  .implemtext {
    margin-top: -110px;
  }

  /* -----section4------ */

  .img_ui_ux {
    position: relative;
    bottom: 60px;
  }

  .text_ui_ux {
    position: relative;
    bottom: 45px;
  }

  .p_ui_ux {
    font-size: 15px;
    position: relative;
    top: 5px;
  }

  /* ----------section5------ */

  .article__finances--flex {
    position: relative;
    bottom: 38px;
  }

  .article__finances--flex div img {
    padding-bottom: 40px;
  }

  .section5__P--fontsize {
    font-size: 0.9rem;
  }

  /* ----sectiomn6----- */

  .section6__text--pos {
    position: relative;
    bottom: 30px;
  }
}
