@import url(/style.css);

@import url(/components/footer/footerstyle.css);

@import url(/components/navigation.css/navgiation.css);

@import url(/components/articale-start/homepagearticlestart.css);

@import url(/components/aboutUs/about.css);

@import url(/components/eti/eti.css);

@import url(/components/Simple-ui-&-ux/Simple_ui_&_ux.css);

@import url(/components/article__financies/section__financies.css);

@import url(/components/readyForStart/readyForStart.css);



