@import url(/style.css);

@import url(/components/footer/footerstyle.css);

@import url(/components/navigation.css/navgiation.css);

@import url(/components/articale-start/homepagearticlestart.css);

@import url(/components/aboutUs/about.css);

@import url(/components/eti/eti.css);

@import url(/components/Simple-ui-&-ux/Simple_ui_&_ux.css);

@import url(/components/article__financies/section__financies.css);

@import url(/components/readyForStart/readyForStart.css);

/* ---------SECTON6------- */

/* ----PROMPT_VISIBILITY_WHEN_LOWER_THAN_1175px------ */

@media screen and (min-width: 961px) and (max-width: 1174px) {
  /* --------------- */

  .ready {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 810px; */
    height: 68px;
    /* margin: 80px auto 0 auto; */
    /* position: relative;
    bottom: 50px; */
  }
  .ready > div:last-child {
    margin-bottom: 20px;
  }

  /* ---------SECTION1_H1_POS----- */

  .section1__div2__h1--pos {
    position: relative;
    top: 70px;
  }
  .h3_Big {
    width: 546px;
    height: 180px;
    font-size: 72px;
    margin-top: -24px;
    line-height: 71px;
  }

  #h3_Big {
    text-align: center;
    width: 445px;
    font-size: 42px;
    margin-top: -24px;
  }

  .ready2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 68px;
    margin: 150px auto 0 auto;
  }

  .marginhelp {
    margin-top: 28px;
  }
}

@media screen and (min-width: 1175px) {
  .ready {
    position: relative;
    bottom: 80px;
    align-items: last baseline;
  }
}

/* ----------SECTION5--------- */

@media screen and (width >= 1177px) {
  .article__finances--flex {
    /* display: flex; */
    flex-direction: row;
    align-items: baseline;
    padding-left: 163px;
    padding-right: 163px;
    margin-bottom: 100px;
    /* width: 880px; */
    /* margin: 0px auto;  */
    position: relative;
    bottom: 60px;
  }

  .article__finances-div--padding {
    padding-top: 169px;
    padding-left: 1px;
    padding-right: 37px;
  }

  .article__finances-seconddiv--padding {
    position: relative;
    bottom: 20px;
  }
}

/* ------------------- */

@media screen and (width >= 960px) and (width < 1177px) {
  .article__finances-div--padding {
    padding-top: 169px;
    padding-left: 1px;
    padding-right: 37px;
  }

  .article__finances-seconddiv--padding {
    position: relative;
    bottom: 20px;
  }
}

/* -----------------FOOTER-------- */
@media screen and (width >= 1177px) {
  footer {
    position: relative;
    bottom: 80px;
  }
}
