<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Simple_ui_&_ux.css"><link rel="stylesheet" href="/style.css">
</head>
<body>
    <article >
        <div class="text_ui_ux">
    <h1 class="simple_ui_ux">Simple UI & UX</h1>
    <p>Our pre-built form is easy to integrate in your app or website’s checkout flow and designed to optimize conversion.</p>
</div>
</article>
</body>
</html>