<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Simple_ui_&_ux.css"><link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="backgraaaund">
    <article class="article_ui_ux centered">
        <img class="img_ui_ux" src="images/simple_mobile.svg" alt="simple">
        <div class="text_ui_ux">
    <h1 class="simple_ui_ux">Simple UI & UX</h1>
    <p class="p_ui_ux">Our pre-built form is easy to integrate in your app or website’s checkout flow and designed to optimize conversion.</p>
</div>
</article>
</section>
</body>
</html>