@import url(/style.css);

* {
  margin: 0;
}

.backgraaaund {
  background: #edf3f8;
}

.text_ui_ux {
  text-align: center;
}
.img_ui_ux {
  display: flex;
  align-items: center;
  margin-bottom: -72px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simple_ui_ux {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  color: #36536b;
  letter-spacing: -0.28px;
  margin-top: 0px;
  opacity: 1;
}

.p_ui_ux {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px 28px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
  color: #6c8294;
  width: 328px;
  height: 73px;
}

@media screen and (width >= 375px) and (width < 768px) {
  .backgraaaund {
    padding-bottom: 64px;
  }
  .text_ui_ux {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .img_ui_ux {
    margin-bottom: -48px;
  }

  .bckgcrcl {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .img_ui_ux {
    content: url(/components/Simple-ui-&-ux/images/simple_tablet.svg);
    padding-left: 40px;
    display: flex;
    align-items: center;
  }

  .p_ui_ux {
    width: 573px;
    height: 45px;
  }

  .simple_ui_ux {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    color: rgb(54, 83, 107);
    letter-spacing: -0.28px;
    margin-top: 0px;
  }

  .bckgcrcl {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .img_ui_ux {
    display: flex;
    align-items: center;
    content: url(/components/Simple-ui-&-ux/images/illustration-simple-ui.svg);
    margin-left: 0px;
    z-index: 2;
  }

  .section4__phone--pos {
    position: relative;
    right: 10px;
  }

  .simple_ui_ux {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    color: rgb(54, 83, 107);
    letter-spacing: -0.28px;
    margin-top: 0px;
  }
  .article_ui_ux {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .p_ui_ux {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px 28px;
    font-style: normal;
    font-weight: normal;
    color: rgb(108, 130, 148);
    width: 445px;
    height: 45px;
  }

  .text_ui_ux {
    text-align: left;
    margin-left: 100px;
  }

  @media screen and (min-width: 960px) {
    .bckgcrcl {
      position: absolute;
      top: 1650px;
      left: 1050px;
      overflow: hidden;
      z-index: 1;
      display: block;
    }
  }
}
