<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="aboutend.css">
  </head>
  <body>
    <article>
      <hr />
      <p class="body">Team Members</p>
      <h1 class="h1_Small">300+</h1>
      <p class="body">Offices in the US</p>
      <h1 class="h1_Small">3</h1>
      <p class="body">Transactions analyzed</p>
      <h1 class="h1_Small">10M+</h1>
      <hr />
      <h4 class="h4">The Culture</h4>
      <p class="body">
        We strongly believe there's always an opportunity to learn from each
        other outside of day-to-day work, whether it's company-wide offsites,
        internal hackathons, or co-worker meetups. We always value cross-team
        collaboration and diversity of thought, no matter the job title.
      </p>
      <h4 class="h4">The People</h4>
      <p class="body">
        We're all passionate about building a more efficient and inclusive
        financial infrastructure together. At PayAPI, we have diverse
        backgrounds and skills.
      </p>
    </article>
  </body>
</html>
